#orbit {
    height: 100vh;
    overflow: scroll;
    width: 100vw;
    position:fixed;
    top:0;
    left:0;
    padding-left:20px;
    padding-top:20px;
    padding-right:20px;
    padding-bottom:50px;
    font-size: 15vh;
    font-weight:bold;
    font-family: sans-serif;
    color: #000;
    line-height: 95%;
    margin: 0px;
    border: 0px solid; 
 }

 .no-scroll {
   overflow:hidden;
   position: absolute; 
 }

.drawer-brand {
  font-size: 15vh;
    font-weight:bold;
  font-family: sans-serif;
}

#about{
  display: none;
  z-index: 1000;
  background: #fff;
  
}

.history-container{
  max-height: 50%;
  overflow: scroll;
}

#videoElement {
  hdeight: 100vh;
  width: 100vw;
  background-color: #000;
  opacity: 0.5;
  marging: 0px;
  padding: 0px;
  background-size: auto;
  display: none;
}