.text-center {
  text-align: center;
}

.mt-1 { margin-top: 0.25rem; }
.mt-2 { margin-top: 0.5rem; }
.mt-3 { margin-top: 1rem; }
.mt-4 { margin-top: 1.5rem; }
.mt-5 { margin-top: 3rem; }

.mb-1 { margin-bottom: 0.25rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mb-3 { margin-bottom: 1rem; }
.mb-4 { margin-bottom: 1.5rem; }
.mb-5 { margin-bottom: 3rem; }

// Add more utility classes as needed
.modal.mobile-view {
  background-color: white;

  .modal-content {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
  }
}


.inverted {
  filter: invert(100%);
  background: #000;
}
