$background-color_1: #fff;
$background-color_2: rgba(0, 0, 0, .2);

/*!
 * jquery-drawer v3.2.2
 * Flexible drawer menu using jQuery, iScroll and CSS.
 * http://git.blivesta.com/drawer
 * License : MIT
 * Author : blivesta <design@blivesta.com> (http://blivesta.com/)
 */
/*!------------------------------------*\
    Base
\*!------------------------------------*/
/*! overlay */
/*!------------------------------------*\
    Left
\*!------------------------------------*/
/*!------------------------------------*\
    accessibility
\*!------------------------------------*/
/*!
 * Only display content to screen readers
 * See: http://a11yproject.com/posts/how-to-hide-content
 */
/*!
 * Use in conjunction with .sr-only to only display content when it's focused.
 * Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
 * Credit: HTML5 Boilerplate
 */
.drawer-nav {
	@apply fixed inset-0 z-10 w-64 h-full bg-white p-1;
}
.drawer-overlay {
	@apply fixed inset-0 z-10 block w-full h-full bg-opacity-20;
	@apply bg-black;

}


.drawer-open {
	.drawer-overlay {
		@apply block;
	}
}
.drawer--left {
	.drawer-nav {
		left: -16.25rem;
		-webkit-transition: left .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
		transition: left .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	}
	.drawer-hamburger {
		left: 0;
	}
}
.drawer--left.drawer-open {
	.drawer-nav {
		left: 0;
	}
	.drawer-navbar {
		.drawer-hamburger {
			left: 0;
		}
	}
	.drawer-hamburger {
		left: 16.25rem;
	}
}
.sr-only {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
.sr-only-focusable {
	&:active {
		position: static;
		clip: auto;
		width: auto;
		height: auto;
		margin: 0;
	}
	&:focus {
		position: static;
		clip: auto;
		width: auto;
		height: auto;
		margin: 0;
	}
}
