.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  &-content {
    background-color: $background-color;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
  }

  .close {
    color: $secondary-color;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: $text-color;
    }
  }
}
