// Modal styles (you might want to move this to a separate _modal.scss file)
.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  @media (max-width: 768px) {
    background-color: white; // Full white background on mobile
  }

  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
