body {
  background: #fff;
}

#orbit {
    width: 100%;
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    padding: {
        top: 20px;
        right: 20px;
        bottom: 50px;
        left: 20px;
    }
    font: {
        weight: bold;
        family: sans-serif;
    }
    color: #000;
    line-height: 95%;
    margin: 0;
    border: 0 solid;
    word-wrap: break-word;
    box-sizing: border-box;
    z-index: 10; // Ensure it's above other elements
    -webkit-user-select: text; // iOS Safari
    user-select: text; // Standard syntax

    // Additional mobile-specific styles
    @media (max-width: 768px) {
        // Adjust padding for mobile if needed
        padding: {
            top: 10px;
            right: 10px;
            bottom: 40px;
            left: 10px;
        }
        // Ensure text is readable on smaller screens
        font-size: 16px; // Adjust as needed
    }
     &:empty:before {
        content: attr(placeholder);
        color: #888;
    }

    &:focus:before {
        content: '';
    }
}

.no-scroll {
  overflow: hidden;
  position: absolute;
}

.drawer-brand {
  font: {
    size: 15vh;
    weight: bold;
    family: sans-serif;
  }
}

#about {
  display: none;
  z-index: 1000;
  background: #fff;
}

.history-container {
  max-height: 50%;
  overflow: scroll;
}

#videoElement {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  opacity: 0.5;
  margin: 0;
  padding: 0;
  background-size: auto;
  display: none;
}

#toggle-video-button {
  display: none;
}

.video-text {
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
  background: transparent;
}

.normal {
  filter: invert(0%);
  background: #fff;
}

.inverted {
  filter: invert(100%);
  background: #000;
}
