<!doctype html>
<html lang="en-US">
  <head>
    <title>Orbiting - visual messages</title>
    <meta
      name="description"
      content="Orbiting is a visual message app that helps people communicate with text. A person is able to use it to type and display the message to those around. We want to create a very simple experience that doesn't require a lot of tech knowledge or experience" />
    <meta
      name="keywords"
      content="orbiting, bigwords, deaf, accessibility, big text, chat, typing" />

    <meta
      property="og:title"
      content="Orbiting is a simple visual communication app for groups" />
    <meta
      property="og:description"
      content="Orbiting is a visual message app that helps people communicate with text. A person is able to use it to type and display the message to those around. We want to create a very simple experience that doesn't require a lot of tech knowledge or experience" />

    <!--STYLES-->

    {{- partial "head/styles.html" . -}}

    <!-- google tag manager -->
    {{ partial "gtm.html" . }}

    <!-- progressive web app -->
    {{ partial "manifest.html" . }}
  </head>

  <body id="b" class="drawer drawer--left">
    <header role="banner">
      <nav class="drawer-nav" role="navigation">
        <h2>History</h2>
        <div class="history-container">
          <ul class="list-group" id="message-history"></ul>
        </div>
        <a
          class="rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700"
          href="#"
          id="clear-history-link"
          >Clear History</a
        >
        <hr />

        <h2 class="text-2xl font-semibold">Orbiting</h2>
        <div class="space-x-2">
          <a
            class="inline-block rounded bg-blue-500 px-2 py-1 text-sm font-bold text-white hover:bg-blue-700"
            href="#"
            id="show-help-link"
            >Help</a
          >
          <a
            class="inline-block rounded bg-blue-500 px-2 py-1 text-sm font-bold text-white hover:bg-blue-700"
            href="#"
            id="show-settings-link"
            >Settings</a
          >
          <a
            class="inline-block rounded bg-blue-500 px-2 py-1 text-sm font-bold text-white hover:bg-blue-700"
            href="#"
            id="show-about-link"
            >About</a
          >
          <hr />
        </div>
        <small>Orbiting</small> <br />
        <small>Created by Harper, Nick Ng and CK</small><br />
        <small>😍😍😍</small>
      </nav>
    </header>

    {{ .Content }} {{ range .Pages }}

    <!--{{ .Title }} Modal -->
    <div
      class="modal fixed inset-0 z-50 overflow-y-auto"
      id="{{ .Params.slug | urlize }}Modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="{{ .Params.slug | urlize }}ModalTitle"
      aria-hidden="true">
      <div
        class="modal-dialog modal-dialog-centered pointer-events-none relative w-auto"
        role="document">
        <div
          class="modal-content pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none">
          <div
            class="modal-header flex flex-shrink-0 items-center justify-between rounded-t-md border-b border-gray-200 p-4">
            <h5
              class="modal-title text-xl leading-normal text-gray-800"
              id="{{ .Params.slug | urlize }}ModalTitle">
              <img
                src="/imgs/favicon-32x32.png"
                class="align-right"
                alt="Orbiting!!" />&nbsp; {{ .Title }}
            </h5>
            <button
              type="button"
              class="close ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900"
              data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body relative p-4">{{ .Content }}</div>
          <div
            class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t border-gray-200 p-4">
            <button
              type="button"
              class="btn btn-secondary mr-2 rounded bg-blue-600 px-6 py-2.5 text-center text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg"
              data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    {{ end }}
  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
  <script src="/js/jquery.mobile-events.min.js"></script>
  <script src="/js/drawer.min.js"></script>
  <script src="/js/bootstrap-toggle.min.js"></script>
  <script src="/js/deviceshake.js"></script>

  <script src="/js/orbiting.js?cache={{ now }}"></script>
  <script>
    // This is the "Offline page" service worker

    // Add this below content to your HTML page, or add the js file to your page at the very top to register service worker

    // Check compatibility for the browser we're running this in
    if ("serviceWorker" in navigator) {
      if (navigator.serviceWorker.controller) {
        console.log("active service worker found, no need to register");
      } else {
        // Register the service worker
        navigator.serviceWorker
          .register("/js/sw.js", {
            scope: "./js/",
          })
          .then(function (reg) {
            console.log(
              "Service worker has been registered for scope: " + reg.scope,
            );
          });
      }
    }
  </script>
</html>
